<a href='/accounts/'>Manage account</a>
<a href="/myimages/">My images</a>
<br>

<h1>All images</h1>
<a href="?page=1&order=asc&tag={{tag}}">Sort from oldest</a>
<a href="?page=1&order=desc&tag={{tag}}">Sort from newest</a>
<br>
<form action="{% url 'images:index' %}" method="post">
    {% csrf_token %}
    <label for="tag">Filter by tag:</label>
    <input type="text" name="tag" id="tag">
    <input type="submit" value="Filter (clear if empty)">
</form>
{% if tag %}
    <p>Filtering by tag: {{tag}}</p>
{% endif %}
{% for image in page_obj %}
    <a href="/images/{{ image.name }}/">
        <svg width=100 height=100 viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            {% for rectangle in image.rectangles %}
                <rect x="{{rectangle.x}}" y="{{rectangle.y}}" width="{{rectangle.width}}" height="{{rectangle.height}}" fill="{{rectangle.color}}"></rect>
            {% endfor %}
        </svg>
        <p>{{image.name}}</p>
    </a>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&order={{order}}&tag={{tag}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&order={{order}}&tag={{tag}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order={{order}}&tag={{tag}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order={{order}}&tag={{tag}}">last &raquo;</a>
        {% endif %}
    </span>
</div>